body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  background-color: black;
}

tarotMain {
    background-color: green;

}

.cardGroup {
    display: flex;
}

#playerHand {
    background-color:green;
    
}

.card {
    width: 200px;
    height: 300px;
    margin: 3px;
    padding: 3px;
    background-color: beige;
    text-align: center;
    border-radius: 5%;
}
.card:hover {
	/* background-image: repeating-radial-gradient(red, yellow 10%, green 20%);     */
}

#opponentEquip .card {
    width: 100px;
    height: 200px;
}

.cardHeader {
    min-height: 50px;
}
.cardRandColor {
    float:left;
}
.cardRank {
    font-size:24px;
    vertical-align:top;
}
.cardColor {
}
.cardColor img {
    width:25px;
}
.cardName { font-size: 12px;
	    font-weight: bold;}
